name: Build
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
jobs:
  build:
  
    runs-on: ubuntu-latest
 
    steps:
    - uses: actions/checkout@v2
 
    - name: Setup .NET SDK
      uses: actions/setup-dotnet@v1.7.2
      with:
        dotnet-version: 5.0.x
 
    - name: Restore
      run: dotnet restore
      working-directory: ./EletronicECommerce
      
    - name: Clean
      run: dotnet clean
      working-directory: ./EletronicECommerce
 
    - name: Build
      run: dotnet build
      working-directory: ./EletronicECommerce
      
